name: Generate Changelog  

on:  
  release:  
    types: [published]  # 每当发布新版本时触发  

permissions:
  contents: write  # 需要写入权限来提交 CHANGELOG.md

jobs:  
  changelog:  
    runs-on: ubuntu-latest  

    steps:  
      - name: Checkout code  
        uses: actions/checkout@v4  

      - name: Set up Node.js  
        uses: actions/setup-node@v4  
        with:  
          node-version: '20'  # 使用更新的 Node.js 版本  

      - name: Generate Changelog  
        run: npx auto-changelog -p  
        env:  
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  

      - name: Commit Changelog  
        run: |  
          git config --local user.email "action@github.com"  
          git config --local user.name "GitHub Action"  
          git add CHANGELOG.md  
          git commit -m "chore: update changelog"  
          git push  
        env:  
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
